body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

.menu-container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

caption {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

thead th {
    background-color: #1093cf;
    color: white;
    padding: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

td {
    color: #666;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.offers {
    background-color: #ffebcc;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

@media (max-width: 600px) {
    body {
        font-size: 0.8rem; /* Reduce base font size for mobile */
    }
    .menu-container {
        padding: 15px;
    }
    table {
        font-size: 0.7rem; /* Reduce table font size for mobile */
        table-layout: fixed;
    }
    th, td {
        padding: 5px;
        word-wrap: break-word;
    }
    h1 {
        font-size: 1rem; /* Reduce heading font size */
    }
    caption {
        font-size: 0.9rem; /* Reduce caption font size */
    }
    td, th {
        font-size: 0.8rem; /* Smaller font size for table data */
    }
    .offers {
        font-size: 0.8rem;
    }
}
