body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}
.menu-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

caption {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

thead th {
    background-color: #1093cf;
    color: white;
    padding: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    color: #666;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.offers {
    background-color: #ffebcc;
    font-style: italic;
    font-weight: bold;
    color: #333;
}

@media (max-width: 600px) {
    /* Ensure table headers are readabl*/
    body {
        font-size: 0.9rem;  /* Adjust font size */
    }
    .menu-container {
        overflow-x: auto;
    }
    
   th, td {
        padding: 5px;  /* Reduce padding in table for smaller screens */
    }

    h1 {
        font-size: 1.1rem;
    }

    caption {
        font-size: 1rem;
    }

    td, th {
        font-size: 0.9rem; /* Smaller font size on mobile */
    }

    /* Allow horizontal scrolling */
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
    /* Make the offers section more readable */
    .offers {
        font-size: 0.9rem; /* Smaller text for mobile */
    }
}